{% extends "base.html" %}
{% block content %}

<script type="text/javascript">

function GetUrlRelativePath() {
　　　　var url = document.location.toString();
　　　　var arrUrl = url.split("//");
　　　　var start = arrUrl[1].indexOf("/");
　　　　var relUrl = arrUrl[1].substring(start);
　　　　return relUrl;
　　}
var dizhi = GetUrlRelativePath();

function ck() {
    var input = document.getElementsByTagName("input");
    if (document.getElementById("check_all").checked) {
        for (var i = 0; i < input.length; i++) {
            if (input[i].type == "checkbox")
                input[i].checked = true;
        }
    }
    else {
        for (var i = 0; i < input.length; i++) {
            if (input[i].type == "checkbox")
                input[i].checked = false;
        }
    }
};

$(document).ready(function(){
        $('#button01').click(function () {
            var temp=document.getElementsByName('ip');
            var ip_sum=""
            for(var i=0;i<temp.length;i++){
                if(temp[i].checked==true){
                ip_sum +=   temp[i].value +",";

                };
            };
        $.post(dizhi,{
            ip_sum : ip_sum,
            dizhi : dizhi
            }
        )
        })
	});

</script>

 <table class="table table-bordered">
  <thead>
    <tr>
      <th><input type="checkbox" name="vehicle" id="check_all" name="check_all"  onclick="ck()" /> 全选
      </th>
        <th colspan="3">ip</th>

    </tr>
  </thead>
  <tbody>
      {% for item in objc %}
      <tr>
      <td><input type="checkbox" name="ip" id = {{ item.ip }}  value="{{ item.ip }}"  /></td>
      <td >{{ item.ip }}</td>
      <td>{{ item.group.name }}</td>
    </tr>
      {% endfor %}
  </tbody>
 </table>
<button id="button01"  class="btn btn-default" style="color: blue">提交</button>
{% endblock %}